<IfModule mod_rewrite.c>
    RewriteEngine On    # Turn on the rewriting engine

    RewriteBase /

    DirectoryIndex index.php

    RewriteRule ^lang_change.php?lang=([A-Z]{2}+)	/lang_change.php?lang=$1

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule	^admin	/admin.php	[NC]	# Handle articles

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule	^([a-z\-\_]+)/([a-z\-\_]+)	/index.php?category=$1&animal=$2	[NC]	# Handle categories and animals

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule	^([a-z\-\_]+)	/index.php?article=$1	[NC]	# Handle articles

</IfModule>
